/* src/components/Calendar.css */
.calendar-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .date-picker {
    padding: 10px;
    margin: 20px 0;
  }
  
  p {
    font-size: 18px;
    color: green;
  }
  /* Light Mode */
.app-container.light {
  background-color: white;
  color: black;
}

/* Dark Mode */
.app-container.dark {
  background-color: black;
  color: white;
}

/* Switch Button */
.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
}

.switch-btn {
  background: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.switch-btn:hover {
  background: #555;
}
