/* Light Mode */
.app-container.light {
  background-color: white;
  color: black;
}

/* Dark Mode */
.app-container.dark {
  background-color: black;
  color: white;
}

/* Position the Switch */
.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
}
